<md-sidenav-container fullscreen>

  <md-sidenav [opened]="!mobile" #sidenav [mode]="sideNavMode">
    <md-nav-list>
      <ng-template ngFor let-view [ngForOf]="views" let-even="even" let-odd="odd" let-rowIndex="index">
        <a md-list-item [routerLink]="view.link" routerLinkActive="active-link" (click)="mobile ? sidenav.close() : {}">
          <md-icon md-list-icon>{{view.icon}}</md-icon>
          <span md-line>{{view.name}}</span>
          <span md-line class="secondary">{{view.description}}</span>
        </a>
      </ng-template>
    </md-nav-list>
  </md-sidenav>

  <md-toolbar color="primary">
    <button md-icon-button (click)="sidenav.toggle()">
      <md-icon>menu</md-icon>
    </button> Angular Starter App
  </md-toolbar>

  <md-card id="my-page-card">
    <!-- <header>Angular Starter App</header>
    <ul *ngFor="let view of views">
      <li><a [routerLink]="view.link">{{view.name}}</a></li>
    </ul> -->
    <router-outlet
      (activate)="activateEvent($event)"
      (deactivate)="deactivateEvent($event)"
    ></router-outlet>
  </md-card>

</md-sidenav-container>

<my-store-devtools *ngIf="showMonitor"></my-store-devtools>
